                {{> header
                    title=(cat "Team " team.number)
                    subtitle="The Pioneers"
                    media-url=team.header_media_url

                    media-vertical-offset=team.header_media_vertical_offset
                }}

                <primary-content>
                    <content-chunks>
                        <section class="content-chunk">
                            <chunk-text>
                                {{#if team.intro}}
                                <p>{{team.intro}}</p>
                                {{/if}}

                                <h2>Statistics</h2>
                                <div name="team-statistics" class="js-required">
                                    <stat-list>
                                        <big-number></big-number>
                                        <h4 data-singular="total event"><span title="Includes both past and upcoming events">total events</span></h4>

                                        <big-number></big-number>
                                        <h4 data-singular="match played">matches played</h4>

                                        <big-number></big-number>
                                        <h4 data-singular="award received">awards received</h4>
                                    </stat-list>
                                    <p>See instances and more specific counts at the <a href="{{root-link "/achievements/"}}">achievements</a> page.</p>
                                </div>
                                <p>View additional statistics on <a href="https://www.robotevents.com/teams/VRC/{{team.number}}" target="_blank">Robot Events</a> or <a href="https://vexdb.io/teams/view/{{team.number}}" target="_blank">VexDB</a>.</p>

                                <h2>Upcoming events</h2>
                                <instance-list name="upcoming-events" class="js-required"></instance-list>
                                <noscript><p>JavaScript is required to view upcoming events.</p></noscript>
                                <p>Past event history is available on the <a href="{{root-link "/achievements/"}}">achievements</a> page.</p>

                                <h2>Gallery</h2>
                                <slideshow->
                                    <slideshow-media data-other-srcs="{{imageSrcOthers}}">
                                        <img{{#if imageSrcInit}} src="{{imageSrcInit}}"{{/if}} alt="Team {{team.number}} gallery image" />
                                    </slideshow-media>

                                    <slideshow-caption data-other-captions="{{imageCaptionOthers}}">{{imageCaptionInit}}</slideshow-caption>
                                    <slideshow-note>
                                        <a href="{{root-link "/gallery/"}}">View full gallery</a>
                                    </slideshow-note>
                                </slideshow->
                            </chunk-text>
                        </section>
                    </content-chunks>

                    <aside>
                        <p class="foot">{{seasonString}}</p>

                        <team-roster>
                            {{#each members}}
                            <team-member{{#if this.is_team_captain}} class="large"{{/if}}>
                                <team-member-image>
                                    {{#if this.icon_url}}
                                    <img src="{{this.icon_url}}" alt="{{this.name}}’s icon" />
                                    {{/if}}
                                </team-member-image>
                                <team-member-descriptor>
                                    <h3>{{this.name}}</h3>
                                    <div>{{this.team_role}}</div>
                                </team-member-descriptor>
                            </team-member>
                            {{/each}}
                        </team-roster>
                    </aside>
                </primary-content>

                <input name="team-number" type="hidden" value="{{team.number}}" />

                <script src="{{root-link "/js/teams.js"}}" type="module"></script>